# SPDX-FileCopyrightText: 2026 Ingo Ruhnke <grumbel@gmail.com>
# SPDX-License-Identifier: GPL-3.0-or-later

/build/
/result
/result-*
*.o
*.a
*.so
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json
.ninja_*
.qt/
*.user
*.autosave
