# SPDX-FileCopyrightText: 2026 Ingo Ruhnke <grumbel@gmail.com>
# SPDX-License-Identifier: GPL-3.0-or-later

[Desktop Entry]
Type=Application
Name=QWavRec
GenericName=Audio Player/Recorder
Comment=Simple PipeWire audio player and recorder
Exec=qwavrec
Icon=qwavrec
Terminal=false
Categories=AudioVideo;Audio;Player;Recorder;
Keywords=audio;player;recorder;pipewire;microphone;speaker;wav;
StartupNotify=true
